@font-face {
    font-family: Roboto;
    src: url("/games/incremental_game/fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/games/incremental_game/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/games/incremental_game/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("/games/incremental_game/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: LektonBold;
    src: url("/games/incremental_game/fonts/Lekton-Bold.ttf") format("truetype");
    font-style: normal;
}

html {
    background-color: #181818;
    color: #e6e6e6;
    font-family: Roboto, sans-serif;
    width: 1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-style: italic;
}

#timer {
    font-family: LektonBold, monospace;
    font-size: 80px;
    background-color: black;
    width: fit-content;
    margin: 20px auto;
	border-radius: 20px;
	border: 10px solid #e6e6e6;
	padding: 15px 20px 0 20px;
}

#timer.active {
    animation: timer-pulse 5s ease-in-out infinite;
}
    @keyframes timer-pulse {
        0% { border-color: #e6e6e6; }
        50% { border-color: #e6b0b0; }
        100% { border-color: #e6e6e6; }
    }

#timer.done {
    border-color: #ff7070;
    color: #ff7070;
}

#loop-buttons {
    text-align: center;
}

button {
    background-color: #e9e9ed;
    border: 0;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
}

button.hover-button {
    background-color: #e9e9ed;
    border: 0;
    padding: 10px;
    border-radius: 10px;
}

button:disabled {
    color: #2b2b2b;
    background-color: #c3c3c9;
    cursor: not-allowed;
}

#start-loopback {
    border: 5px solid #ff7070;
    padding: 5px;
}

#start-loopback.done {
    border-color: #21c473;
}

p {
    text-align: center;
}

#energy-manual {
    display: block;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-rows: 1fr;
}

li {
    display: grid;
    grid-template-columns: 2.4fr 1fr 1fr;
    margin: 0;
    place-items: center center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flavor-text {
    color: #a8a8a8;
    font-size: small;
    text-align: center;
}

.prod-buy-button {
    justify-self: stretch;
}