# don't want to-do list
todo.md
# don't want images i'm working on
*.svg
# *do* want svg image icons
!images/*
# don't want dev database
blog/db
start_local_website.sh
# don't want local vscode setup
.vscode/*