html {
    background-color: #6a0000;
}

input, textarea {
    font-family: RobotoMono, monospace;
    font-weight: 420;
}

textarea {
    resize: none;
}

h3 > input {
    font-size: 100%;
    text-align: center;
    font-weight: 700;
    width: 100%;
}

textarea[name="tags"] {
    width: 30%;
    height: 2lh;
}

textarea[name="summary"] {
    margin: 10px 0;
    width: 100%;
    height: 4lh;
}