@font-face {
    font-family: RobotoMono;
    src: url("fonts/robotomono-variable.woff2") format("woff2"),
         url("fonts/robotomono-variable.ttf") format("truetype");
    font-weight: 100 700;
    font-style: normal;
}

html {
    background-color: #000829;
    font-family: RobotoMono, monospace;
    font-size: 18px;
    font-weight: 420;
    font-style: normal;
    line-height: 1.3lh;
}

body {
    margin: 20px;
    margin-left: max(calc((100vw - 830px) / 2), 20px);
}

    main {
        background-color: white;
        max-width: 800px;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
    }

        main > h1 {
            font-size: 1200%;
            line-height: 100%;
            margin: 0px;
        }

        main > h2 {
            font-size: 300%;
            line-height: 100%;
            margin: 10px 0px 25px 0px;
        }
        
        a:link, a:visited {
            color: #067dac;
            font-weight: 600;
            text-decoration: none;
        }
        a:hover {
            color: #e41b43;
        }
        sup, sub {
            line-height: 0;
        }

@media screen and (max-width: 700px) {
    body {
        display: block;
        margin: 20px 0px;
    }

    main {
        border-radius: 15px;
    }
}