ul.resume-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    ul.resume-list > li {
        background-color: #5bcefa60;
        border-left: 5px solid #5bcefa;
        padding: 15px;
        margin: 15px 0px;
    }
        ul.resume-list > li::before {
            all: revert;
        }
    ul.resume-list > li:nth-child(even) {
        background-color: #f5a9b860;
        border-left: 5px solid #f5a9b8;
    }

        ul.resume-list hgroup {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            row-gap: 15px;
            column-gap: 30px;
            margin-bottom: 0.5lh;
        }
            ul.resume-list hgroup > h4 {
                font-size: 110%;
                margin: 0;
            }
            ul.resume-list hgroup > p {
                margin: 0;
                text-align: right;

            }
        ul.resume-list a {
            background-image: url("/images/link-icon.svg");
            background-size: 24px 24px;
            background-position: left center;
            background-repeat: no-repeat;
                    
            padding: 2px;
            padding-left: 26px;
            margin-left: -0.4ex;
            color: black;
            font-weight: 600;
        }
            ul.resume-list a:hover {
                background-color: white;
            }
